
<!-- Donate through easyfundraising button --> 
<p>
    <a href="https://www.easyfundraising.org.uk/causes/togethercommunity/?utm_campaign=raise-more&utm_content=gs-f1" target="_blank">
    <img src="https://www.easyfundraising.org.uk/assets/blt1150467e72fcfe98/easyfundraising_donate_button_6.png" style="width: 200px; height: 39px;"  class="" />
</a>
<!--Donate through giveasyoulive button -->
    <a href="https://www.giveasyoulive.com/charity/together-community?utm_campaign=CTOnlineButton&utm_content=231422&utm_source=charitytoolkit&utm_medium=charitygaylbutton" target="_blank"> 
    <img src="https://resources.giveasyoulive.com/images/gayl/button-rect-blue.png?cid=231422" style="width: 205px; height: 60px;"  class="" />
    </a>
</p>